:root{
--color-text-primary: #212121;
--color-text-secondary: #757575;
--color-active: #2196F3;
--background-color: #F5F5F5;
--background-color-second:#F5F4FA;
}

body{
font-family: 'Roboto', sans-serif;
background-color: var(--background-color);
}

.header{
    background-color: #FFFFFF;
}

.logo, .logo-second-color{
text-decoration: none;
}

.logo{
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
    }


.logo-second-color{
    color: var(--color-active);
}

.nav-style{
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-text-primary);
    text-decoration: none;

}



.nav-contacts{
    color: var(--color-text-secondary);
    height: 16px;
    width: 122px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-style:hover,
.nav-contacts:hover{
    color: var(--color-active);
}

.nav-style:focus-visible,
.nav-contacts:focus-visible {
    color: var(--color-active);
    /* border: 0px; */
}

.hero-section{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

}

.hero-title{
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    position: absolute;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button{
    background-color: var(--color-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: absolute;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    /* margin: 692px, 30px, 692px, 200px; */
}

.hero-button-text{
    width: 152px;
    height: 30px;
    left: 724px;
    top: 440px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.benefits h3 {
    width: 270px;
        height: 16px;
        left: 215px;
        top: 774px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
}

.benefits p {
    width: 270px;
    height: 72px;
    left: 215px;
    top: 800px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-text-secondary);
}

.activity > h2 {
    /* position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
}

.team{
    background-color: var(--background-color-second);
}

.team > h2 {
    /* position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1540px; */
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
}

.team h3{
    /* position: absolute;
    height: 19px;
    top: 1922px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
}

.team p{
    /* position: absolute;
        width: 147px;
        height: 19px;
        left: 577px;
        top: 1951px; */
        font-size: 16px;
        line-height: 19px;
        /* text-align: center; */
        letter-spacing: 0.03em;
        color: var(--color-text-secondary);
}

.footer{
    background-color: #2F303A;
}

.footer-logo{
    color: #FFFFFF;
}

.adress{
    
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        font-style: normal;
}

.footer-contacts{

    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.lists-style{
    list-style-type: none;
}

/* Сторінка портфоліо */

.portfolio-buttons{
/* width: 125px;
    height: 38px;
    left: 593px;
    top: 174px; */
    color: #F5F4FA;
    border: 0px;
}

.portfolio-buttons:hover, 
.portfolio-buttons:focus-visible {
    background-color: var(--color-active);
/* color: #FFFFFF; */
}

.port-button-text{
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;

}

.port-button-text:hover,
.port-button-text:focus-visible {
    color: #FFFFFF;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em; 
    color: var(--color-text-primary);
}

.portfolio-project{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--color-text-secondary);
}